/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');




/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

body{

font-family: 'Lato', sans-serif;
font-size: 18px; 
background-color: rgb(246, 250, 250);
line-height: 1.5;
width: auto;
height: auto;

}


header {

background-color: rgb(247, 242, 247);
border: 1px solid;
color: rgba(238, 184, 184, 0.788);
box-shadow: 1px 1px 5px #5f5f55;
display: flex;
justify-content: space-between;
width: 100%;

}

.imgencabezado {
    max-width: 250px;
    width: 80%;
    height: 80%;
    border-radius: 20px;
}

    
section {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 15px;
min-height: 100vh;
}

figure{

    display: block;
}

 .img1 {
border-radius: 100%;
box-shadow: 1px 1px 5px rgb(0, 0, 0);
width: 300px;
height: 300px;
max-width: 100%;
margin-top: 15px;


}


nav{

    display: flex;
    
}

/* Para quitar los puntos a los items de listas */
ul {
    display: flex;
    align-items: flex-end;
    list-style: none;
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto;


}

li{
    margin-right: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}
/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration:none;
    color:inherit;
    color: rgb(122, 122, 201);

}

h1,h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
}


.curriculo{
    display: flex;
    border-radius: 20px;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: rgb(196, 68, 153);
    margin-top: 20px;
}

.mi-curriculo{

    color: white;
    margin-left: 32px;
}

.mi-contacto{

    background-color: rgb(230, 199, 210);
    padding: 8px;
    margin-top: 10em;
    border-radius: 10px;
}

    
.imgsocial{
    
width: 80px;
margin-top:4em;
margin-right: 1em;
margin-left: 0.5em;
}

.social{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 68, 153);
    height: 5em;
    
}

.pie-de-pagina{

    color: white;
} 
/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
